:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  background-color: #232946;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #fffffe;
  --text: #a7a9be;
  --black: #0f0e17;
  --accent: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;

  --border-radius: 0.5rem;
  --elevation-1: 0px 1px 2px 0px rgba(0, 14, 51, 0.1);
  --elevation-2: 0px 1px 4px 1px rgba(0, 14, 51, 0.2);
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  text-align: center;
}

p {
  font-weight: 400;
  color: var(--text);
}

button {
  color: var(--white);
  background-color: var(--accent);
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--white);
}

h4,
h5,
h6 {
  font-weight: 500;
  color: var(--black);
}

a {
  all: unset;
  color: var(--tertiary);
}
